main{
    width: 200px;
}

article{
    padding-left: 70px;
}

footer{
    background-color: yellow;
    height: 100px;
    position: fixed;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
}