html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid darkgray;
    padding: 20px;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    align-self: center;
    font-size: 2rem;
}

#pdf{
    background-color: red;
    color:antiquewhite;
    padding:10px;
    border-radius: 5px;
}